<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
></dx-load-panel>

<h2 class="content-block">
    <dx-button icon="back" (click)="goBack()"></dx-button>
    {{ food?.name }} 
    <dx-button  icon="refresh" (click)="search(food.id)"></dx-button>
</h2>
<h6>{{ food?.comment }}</h6>
<div class="content-block dx-card responsive-paddings">
    <div *ngIf="foodParameters !== undefined">
        <dx-data-grid [dataSource]="foodParameters" [showBorders]="false" [rowAlternationEnabled]="true"
            [showColumnHeaders]="showColumnHeaders"></dx-data-grid>
    </div>
</div>

<div class="content-block dx-card responsive-paddings">
    <dx-gallery #gallery id="gallery" [dataSource]="images" [height]="600" [slideshowDelay]="slideshowDelay"
        [loop]="true" [showNavButtons]="true" [showIndicator]="true" [stretchImages]="true"></dx-gallery>
</div>