.wrapper 
{
	border:1px solid pink;
    width: 360px;
    height: 300px;
    float: left;
    margin: 4px;
    padding: 4px;
    position: relative;
}

.item-image {
    height: 290px;
    z-index: 10;
}

.item-text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #eaeaea;
    margin: 10px; 
}

.item-refresh {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px; 
}

img {
    max-width: 100%;
    max-height: 100%;
}