<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
></dx-load-panel>

<div class="wrapper">
    <div class="item-text"> {{ food?.name }} </div>
    <dx-button class="item-refresh" icon="refresh" (click)="search(food.id)"></dx-button>
    <div class="item-image" *ngIf="currentImage !== undefined">
        <a [routerLink]="['/details/', food.id]">
        <img [src]="currentImage?.thumbnailUrl">
        </a>
    </div>
</div>
