<div class="content-block dx-card responsive-paddings">
  <dx-button class="add-food" type="success" text="Add Food" (click)="addFood()"></dx-button>
  <div *ngIf="vm !== undefined && vm.lists !== undefined">
    <div *ngFor="let food of vm.lists">
      <app-food-list [food]="food"></app-food-list>
    </div>
  </div>
</div>

<dx-popup [width]="400" [height]="480" [showTitle]="true" title="Add new food" [dragEnabled]="false"
  [closeOnOutsideClick]="false" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <div>
      Name
      <dx-text-box placeholder="Enter food name..." [showClearButton]="true" [(value)]="newFood.name"></dx-text-box>
      Cho
      <dx-text-box placeholder="Enter Cho" [showClearButton]="true" [(value)]="newFood.cho"></dx-text-box>
      Glycemic index
      <dx-text-box placeholder="Enter glycemic index..." [showClearButton]="true" [(value)]="newFood.gi"></dx-text-box>
      Glycenic index confidential
      <dx-text-box placeholder="Enter index confidential..." [showClearButton]="true" [(value)]="newFood.giConfidanceLevel"></dx-text-box>
      Glycemic index level
      <dx-text-box placeholder="Enter glycemic level..." [showClearButton]="true" [(value)]="newFood.gl"></dx-text-box>
      Comment
      <dx-text-box placeholder="Enter any comment..." [showClearButton]="true" [(value)]="newFood.comment"></dx-text-box>
    </div>
    <div>
      <dx-button class="save-food" text="Save" type="success" (click)="saveFood()"></dx-button>
    </div>
  </div>
</dx-popup>